:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;  
  color: #eee;
  background-color: #232323;
}

button,
input {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #eee;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

*::-webkit-scrollbar-track {
  background: #232323;
}

*::-webkit-scrollbar-thumb {
  background-color: #DE3163;
  border-radius: 20px;
  border: 3px solid #232323;
}

*::-webkit-scrollbar-corner {
  background: #232323;
}