.categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 4rem;

    .heading {
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem 3rem;
        gap: 2rem;
        font-weight: 600;
        letter-spacing: .25rem;

        .sub-heading {
            letter-spacing: .15rem;
            line-height: 2rem;
            padding: 1rem;
            color: #bbb;
            font-weight: 400;
            font-size: 1.5rem;
            text-align: center;
            width: 40%;

            @media screen and (max-width: 768px) {
                font-size: 1.2rem;
                width: 100%;
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(5, minmax(15rem, 1fr));
        gap: 1.5rem;
        padding: 1rem 6rem;

        .card {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .item-img {
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                border: .1rem solid transparent;
                overflow: hidden;
                display: flex;
                align-content: center;
                transition: .3s ease-out;
                justify-content: center;
                margin: 0 auto;

                img {
                    border-radius: 50%;
                    overflow: hidden;
                    width: 10rem;
                    height: 10rem;
                    object-fit: cover;
                    transition: .3s ease-out;
                    border: none;

                    &:hover {
                        border: none;
                    }
                }

                &:hover {
                    border: .1rem solid #DE3163;
                    filter: drop-shadow(0 0 1rem #de31627a);

                }
            }

            .item-name {
                text-align: center;
                letter-spacing: .1rem;
                font-size: 1.2rem;
                font-weight: 500;
                border-bottom: .1rem solid transparent;
                transition: .3s ease-out;
                text-decoration-color: #DE3163;

                &:hover {
                    text-decoration: underline #DE3163;
                }
            }
        }
    }

    .view-btn {
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
        font-size: 1.2rem;
        border: 0.1rem solid transparent;
        transition: .3s ease-out;
        border-radius: 4rem;

        .view-icon {
            font-size: 2rem;
            color: #DE3163;
            transition: .3s ease-out;
        }

        &:hover {
            border: 0.1rem solid #DE3163;
        }
    }

    @media screen and (max-width: 768px) {
        .card-container {
            grid-template-columns: repeat(4, minmax(15rem, 1fr));
        }
    }

    @media screen and (max-width: 1024px) {
        .card-container {
            grid-template-columns: repeat(3, minmax(15rem, 1fr));
        }
    }

    @media screen and (max-width: 568px) {
        .card-container {
            grid-template-columns: repeat(2, minmax(10rem, 1fr));
        }
    }
}