.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: default;
    top: 0;

    .sub-title {
        position: absolute;
        z-index: 1;
        top: .001rem;
        font-size: 7rem;
        letter-spacing: .3rem;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
    }

    .browse-button {
        z-index: 1;
        position: absolute;
        padding: 0.5rem 1rem;
        width: 15%;
        right: 0;
        left: 0;
        bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 2rem;
        letter-spacing: .1rem;
        font-weight: 600;
        border: .1rem solid #ddd;
        border-radius: 4rem;
        transition: .3s ease-out;
        color: #eee;

        &:hover {
            background: #ffffff93;
            border: .1rem solid transparent;
        }
    }

    .first-section {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to left, #fed1c739, #ee2a7c26), url('https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1980&q=80');
        background-position: center;
        background-size: cover;
        width: 50%;
        height: 100vh;
        font-size: 6rem;
        position: relative;

        .title {
            position: absolute;
            right: 1rem;
            letter-spacing: .5rem;
            color: #fff;
        }
    }

    .second-section {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, #fed1c739, #ee2a7c26), url('https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80');
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 50%;
        font-size: 6rem;
        position: relative;

        .title {
            position: absolute;
            left: 1rem;
            letter-spacing: .5rem;
            color: #FF5C58;
        }
    }
}

@media screen and (max-width: 1024px) {
    .main-container {
        .sub-title {
            top: 1rem;
            color: #dddddd38;
            font-size: 5rem;
        }

        .browse-button {
            width: 50%;
            padding: 1rem;
            // font-size: 9rem;
            bottom: 2rem;
        }

        .first-section {
            width: 50%;
            height: 100vh;
            justify-content: center;

            .title {
                text-align: center;
                right: 0;
                left: 0;
                font-size: 10rem;
            }
        }

        .second-section {
            width: 50%;
            height: 100vh;

            .title {
                text-align: center;
                left: 0;
                right: 0;
                font-size: 10rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;

        .sub-title {
            top: 2rem;
            color: #dddddd38;
            font-size: 5rem;
            line-height: 5rem;
        }

        .browse-button {
            width: 70%;
            padding: 1rem;
            bottom: 2rem;
        }

        .first-section {
            width: 100%;
            height: 50vh;
            justify-content: center;

            .title {
                text-align: center;
                right: 0;
                left: 0;
                top: 11rem;
                font-size: 7rem;
            }
        }

        .second-section {
            width: 100%;
            height: 50vh;

            .title {
                text-align: center;
                right: 0;
                left: 0;
                bottom: 12.5rem;
                font-size: 7rem;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .main-container {
        flex-direction: column;

        .sub-title {
            top: 0.1rem;
            color: #dddddd38;
            font-size: 4.5rem;
            line-height: 5rem;
        }

        .browse-button {
            width: 70%;
            padding: 1rem;
            bottom: 2rem;
        }

        .first-section {
            width: 100%;
            height: 50vh;
            justify-content: center;

            .title {
                text-align: center;
                right: 0;
                left: 0;
                top: 11rem;
                font-size: 7rem;
            }
        }

        .second-section {
            width: 100%;
            height: 50vh;

            .title {
                text-align: center;
                right: 0;
                left: 0;
                bottom: 12.5rem;
                font-size: 7rem;
            }
        }
    }
}