.footer {
    padding: 1rem;

    .second-section {
        .section {
            display: flex;
            // height: 11rem;
            justify-content: space-between;
            align-items: flex-start;
            align-items: center;
            padding: 1rem 2rem;

            .about {
                max-width: 24rem;
                height: 12rem;
                letter-spacing: 0.02rem;
                text-align: justify;
            }

            .links {
                height: 12rem;
                display: flex;
                flex-direction: column;
                gap: 0;
                line-height: 1.5rem;
                letter-spacing: 0.12rem;

                @media screen and (max-width: 568px) {
                    height: 9rem;
                }

                a {
                    border-bottom: 0.1rem solid transparent;
                    transition: .3s ease-out;
                }

                a:hover {
                    // text-decoration: underline;
                    border-bottom: 0.1rem solid #E0144C;
                }
            }

            .socials {
                height: 12rem;
                // max-width: 20rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                @media screen and (max-width: 568px) {
                    height: 7rem;
                }

                .social-icons {
                    display: flex;
                    gap: 1rem;

                    .icons {
                        font-size: 1.5rem;
                        cursor: pointer;
                        transition: .3s ease-out;

                        &:hover {
                            color: #E0144C;
                            filter: drop-shadow(0 0 0.5rem #e0144c);
                        }
                    }
                }
            }
        }

        .copyright {
            font-size: 1.2rem;
            letter-spacing: 0.05rem;
        }
    }
}

@media screen and (max-width: 560px) {
    .second-section {
        .section {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            h3 {
                text-align: center;
                letter-spacing: 0.15rem;
            }
        }
    }
}